{%- liquid
    assign NS = 'password'
    assign cn = '#' | append: NS
    if section.settings.image != blank
        assign use_bg_image = true
    else
        assign use_bg_image = false
    endif
    
    if use_bg_image
        assign hero_auto_colors = true
    endif
-%}
{% render 'load-css', file: NS %}

{%- capture Hero_text -%}
    {% render 'hero',
        blocks: section.blocks,
        align: 'center',
        auto_colors: hero_auto_colors
    %}
{%- endcapture -%}

{%- capture Caption -%}
    {% render 'floating-content',
        content: Hero_text,
        x: 'center',
        y: 'center',
        container: true,
        padded: true
    %}
{%- endcapture -%}

<div class="{{ cn }}">
    {%- if use_bg_image -%}
        <div class="{{ cn }}-bg">
            {% render 'media',
                image: section.settings.image,
                height: '100%',
                type: 'height',
                overlay: section.settings.overlay
            %}
        </div>        
    {%- endif -%}
    {{ Caption }}
</div>

{% schema %}
{
    "name": "Password",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Background image",
            "info": "t:g.media.resolution_recommendations.full_screen"
        },
        {
            "type": "range",
            "id": "overlay",
            "min": 0,
            "max": 90,
            "step": 5,
            "default": 40,
            "unit": "%",
            "label": "t:g.media.overlay"
        }
    ],
    "blocks": [
        {
            "type": "subheading",
            "name": "t:g.hero.subheading.name",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "subheading",
                    "label": "t:g.hero.subheading.label",
                    "default": "Subheading"
                }
            ]
        },
        {
            "type": "heading",
            "name": "t:g.hero.heading.name",
            "limit": 1,
            "settings": [
                {
                    "type": "inline_richtext",
                    "id": "heading",
                    "label": "t:g.hero.heading.label",
                    "default": "Image banner",
                    "info": "t:g.info.heading_highlight"
                }
            ]
        },
        {
            "type": "text",
            "name": "t:g.hero.text.name",
            "limit": 1,
            "settings": [
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:g.hero.text.label",
                    "default": "<p>Text</p>"
                }
            ]
        },
        {
            "type": "newsletter_form",
            "name": "Newsletter form",
            "limit": 1,
            "settings": [
                {
                    "type": "paragraph",
                    "content": "t:sections.newsletter.settings.paragraph.content"
                }
            ]
        }
    ]
}
{% endschema %}