.\#product-card-nav {
  --product-card-nav-font-size: min(1rem, var(--glob-product-card-title-size) * 0.8);
  --product-card-nav-title-opacity: 0.8;
  --product-card-nav-text-align: left;
  --product-card-nav-product-title-display: block;
  --product-card-nav-product-price-display: block;
  display: flex;
  flex-direction: column;
  gap: var(--glob-size-3);
  position: relative;
  text-align: var(--product-card-nav-text-align);
}
body.glob--layout-align-center .\#product-card-nav {
  --product-card-nav-text-align: center;
}

.\#product-card-nav:hover {
  --product-card-nav-title-opacity: 1;
}
.\#product-card-nav-media {
  border-radius: var(--glob-border-radius-base);
  overflow: hidden;
}
.\#product-card-nav-media + * {
  margin-top: var(--glob-size-1);
}
.\#product-card-nav-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--glob-size-3);
}
.\#product-card-nav-title {
  opacity: var(--product-card-nav-title-opacity);
  display: var(--product-card-nav-product-title-display);
}
.\#product-card-nav-title-text {
  font-family: var(--glob-product-card-title-family);
  font-size: var(--glob-product-card-title-size);
  font-weight: var(--glob-product-card-title-weight);
  text-transform: var(--glob-product-card-title-transform);
  letter-spacing: var(--glob-product-card-title-letter-spacing, normal);
  font-size: var(--product-card-nav-font-size);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: var(--transition-base);
}
.\#product-card-nav-price {
  display: var(--product-card-nav-product-price-display);
  font-weight: var(--glob-product-card-price-weight);
  font-size: max(0.85rem, var(--product-card-nav-font-size) * 0.9);
  line-height: 1;
  margin-top: auto;
}
.\#product-card-nav.\@card-min {
  flex-direction: row;
  border-radius: var(--glob-border-radius-base);
  border: 1px solid var(--color-g-border);
}
.\#product-card-nav.\@card-min .\#product-card-nav-body {
  padding: 0.5rem;
  align-items: center;
}
.\#product-card-nav.\@card-min .\#product-card-nav-media {
  flex-shrink: 0;
}