.\#sticky-add-to-cart.\@position\:bottom .\#sticky-add-to-cart-wrapper {
  bottom: 0;
  transform: translateY(100%);
}
.\#sticky-add-to-cart-item.\@save{
  display:flex;
  gap: .5em;
  color: var(--color-g-sale);
}
.\#sticky-add-to-cart.\@position\:top .\#sticky-add-to-cart-wrapper {
  top: var(--header-height, 0px);
  transform: translateY(-100%);
}
.\#sticky-add-to-cart.\!active .\#sticky-add-to-cart-wrapper {
  transform: translateY(0);
  opacity: 1;
  padding-bottom: 3.2em;
}
.\#sticky-add-to-cart.\!active .\#sticky-add-to-cart-wrapper:before {
  opacity: 1;
}
.\#sticky-add-to-cart.\!loading .\#sticky-add-to-cart-loading-overlay {
  opacity: 1;
  pointer-events: all;
}
.\#sticky-add-to-cart-loading-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-g-fg-alpha-50);
  z-index: 99;
  opacity: 0;
  pointer-events: none;
}
.\#sticky-add-to-cart-wrapper {
  opacity: 0;
  position: fixed;
  left: 0;
  padding-block: var(--glob-size-4);
  width: 100%;
  background-color: var(--color-g-fg);
  z-index: 99;
  transition: var(--transition-base);
  box-shadow: var(--color-scheme-box-shadow-drop);
}
.\#sticky-add-to-cart-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--glob-size-8);
}
.\#sticky-add-to-cart-info {
  display: flex;
  align-items: center;
  position: relative;
  gap: var(--glob-size-8);
  flex: 2;
}
.\#sticky-add-to-cart-info-media {
  width: 60px;
  flex-shrink: 0;
}
.\#sticky-add-to-cart-info-title {
  font-family: var(--glob-product-card-title-family);
  font-size: var(--glob-product-card-title-size);
  font-weight: var(--glob-product-card-title-weight);
  text-transform: var(--glob-product-card-title-transform);
  letter-spacing: var(--glob-product-card-title-letter-spacing, normal);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.\#sticky-add-to-cart-info-variant {
  margin-bottom: 0;
  margin-top: var(--glob-size-2);
  opacity: 0.8;
}
.\#sticky-add-to-cart-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--glob-size-8);
  flex: 0.5 0 auto;
}
@media (max-width: 991px) {
  .\#sticky-add-to-cart-control {
    flex-basis: 100%;
  }
}
@media (max-width: 991px) {
  .\#sticky-add-to-cart-control-price, .\#sticky-add-to-cart-item.\@save {
    display: none;
  }
}
.\#sticky-add-to-cart-control-price .\#price {
  display: flex;
  align-items: baseline;
  gap: var(--glob-size-3);
  font-size: 1.3225rem;
}
.\#sticky-add-to-cart-control-price .\#price-item.\@regular {
  font-weight: var(--font-body-weight-bold);
}
.\#sticky-add-to-cart-control-price .\#price-item.\@on-sale {
  color: var(--color-g-sale);
}
.\#sticky-add-to-cart-control-selector {
  flex-grow: 1;
}
.\#sticky-add-to-cart-control-selector .\#product-options-dropdown-menu {
  margin-top: 0;
  margin-bottom: var(--glob-size-2);
}
.\#sticky-add-to-cart-control-selector .\#product-options-dropdown-item-body {
  padding: var(--glob-size-4) var(--glob-size-5);
}
@media (max-width: 991px) {
  .\#sticky-add-to-cart-control-button {
    width: 100%;
  }
  .\#sticky-add-to-cart-control-button .\#button {
    width: 100%;
  }
  .\#sticky-add-to-cart-control-button .\#button.\!loading span {
    border: none;
  }
}
.\#sticky-add-to-cart-control-button-price {
  margin-left: var(--glob-size-4);
  padding-left: var(--glob-size-4);
  border-left: 1px solid var(--color-g-fg-alpha-70);
}